.login{
  height: 100vh;
  background-image: url('~@/assets/login.png');
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  .login-content{
    width: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    .login-btn{
      margin: auto;
    }
  }
}