.ant-layout {
  height: 100%;
}
.header{
  padding: 0;
  align-items: 'center';
}
.logo{
  // font-style: italic;
  color: #fc6627;
  font-size: 18px;
  font-weight: bolder;
  margin-left: 40px;
}
.user-info{
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 20px;
  color: #fff;
  
  .user-name {
    margin-right: 20px;
  }
  
  .user-logout {
    display: inline-block;
    cursor: pointer;
  }
}

.style-menu{
  height: 100;
  border-right: 0;
}
.style-content{
  padding: 20px;
  overflow-y: auto;
}